
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('background.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    background-color: rgb(206, 138, 180);
    overflow: hidden;
    width: 100%;
    transition: background-color 0.5s, font-family 0.5s;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

.navbar a:hover {
    background-color: #571049;
    color: white;
}


.changed {
    background-color: rgb(88, 11, 159) !important;
    font-family: 'Courier New', Courier, monospace !important;
}

main {
    margin-top: 60px;
    padding: 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    height: 500px; /* Added height to ensure scrolling */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for sections */
    margin-bottom: 10px;
    border-radius: 10px;
}